*.bmp
*.tif
*.tiff
*.heic
*.JPG
*.JPEG
*.PNG
*.BMP
*.TIF
*.TIFF
*.HEIC
*.mp4
*.mov
*.MOV
*.avi
*.data
*.json
*.cfg
*.weights
*.pt
__pycache__/
var/
wheels/
*.egg-info/
wandb/
.installed.cfg
*.egg
*.manifest
*.spec
.coverage
.coverage.*
.cache
.scrapy
.ipynb_checkpoints
.python-version
.env
.venv*
.mypy_cache/
.DS_Store
.AppleDouble
